[run]
source = src, tools
omit =
    */tests/*
    */third_party/*
    */build/*
    */build-coverage*
    */coverage_run/*
    */examples/*
    */generated/*
    */config/*
    */specs/*
    */website/*
    */docs/*
    */verification/*
    */backups/*
    */design/*
    */verification/*

[report]
include =
    src/*
    tools/*
exclude_lines =
    pragma: no cover
    if __name__ == '__main__'

[html]
directory = coverage_html

[xml]
output = coverage.xml
